.lista-suspensa {
    border-radius: 8px;
    padding: 8px 16px;
    gap: 1px;
    border: 1px solid #4A4949;
    background-color: transparent;
    color: #4A4949;
    background-color: #212121;
    outline: 0;
}