.botao {
    border-radius: 8px;
    padding: 8px 16px;
    gap: 10px;
    font-weight: 600;
    border: 1px solid #4A4949;
    background-color: #17DCB3;
    color: #212121;
    outline: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    border: none;
    cursor:pointer;
}

.botao:hover {
    opacity: 0.8;
}