.campo-entrada-form {
    border-radius: 8px;
    padding: 8px 16px;
    gap: 10px;
    border: 1px solid #4A4949;
    background-color: transparent;
    color: #4A4949;
    outline: 0;
}

.campo-entrada-form::placeholder {
    color: #4A4949;
}