body {
  margin: 0;
}

header {
  background-color: #06151A;
  display: flex;
  padding: 32px;
  justify-content: center;
}

.container {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
}

.eventos {
  display: flex;
  gap:24px;
  flex-wrap: nowrap;
}